body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-color: #fcfbfc;
}

header {
  background-color: #1c1c1c;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

header ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
  padding: 0.5rem 0.5rem;
}


header ul li a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4); /* Efek kilau halus */
}